# Install az-cli
RUN curl -sL https://aka.ms/InstallAzureCLIDeb | bash

# Install kubectl & kubeadm
RUN apt update && apt install -y ca-certificates apt-transport-https
RUN curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
RUN echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" \
    | tee /etc/apt/sources.list.d/kubernetes.list
RUN apt update && apt install -y kubectl

# Install helm
RUN curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

# Install nodejs
RUN curl -fsSL https://deb.nodesource.com/setup_18.x | bash
RUN apt install nodejs
